.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F6F6F8;
    background-position: center;
    margin: 0;
   

}
.container_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;


}

.text_cont {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: black;
}
.text_cont2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center; 
    color: #999999;
}
.link_more {
    color:  #4985FF;
    margin: 5px 5px 5px 0;
}
.image2 {
    width: 500px;
    height: 400px;
    margin-left: 10px;
    margin-top: 100px;
   

}


.line2 {
    margin: 0 15% 0 15%;
    border: 1px solid #E0E0E0;
}

.our_projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


}
.text_logo {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 10px 5px 10px 5px;
    text-align: center;
    color: #999999;

}
.logo_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2px 0 2px;
}
.img_logo {
    width: 95px;
    height: 95px;
}


@media(max-width:970px) {
    .maincontainer {
        max-width: 768px;
    }
    .container_img {
        max-width: 768px;
    }
    
}
@media(max-width:750px) {
  .maincontainer {
      max-width: 375px;
  }
  .container_img {
    max-width: 375px;
}
}
@media(max-width:375px) {
    .maincontainer {
        max-width: 350px;
    }
    .container_img {
      max-width: 350px;
  }
  .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
  }
  .image2 {
      display: none;
  }
  .container_text {
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  .our_projects {
    display: flex;
	flex-wrap: wrap;

	
}
  }
