@media(max-width:376px) {
    #burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 199;
    position: absolute;
    margin-left: 320px;
    margin-top: 10px;
    
    }
    

    .menu-btn {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
    
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}



#sidebare {
    display: flex;
    justify-content: start;
    align-items: center;    
    flex-direction: column;
    width: 300px;
    height: 795px;
    background-color: rgb(21, 27, 88);
    position: absolute;
    padding-top: 60px;
    top: 0;
    right: -300px;
    z-index: 9999;
   
}

.sidebar--open {
        right: 0px;
        animation: 3s open;
       
      }

    @keyframes open {
        from {
          right: -300px;
        }
        to {
          right: 0px;
        }
      }
    }

    
 
  