.firstscreen {
    display: flex;
    justify-content: flex-end;
    margin: 0px auto; 
    width: 100%;
    max-width: 1920px;
    padding: 0px 0px;
    background-color: none;
    z-index: 30;
    position: absolute;
    border-bottom: thick double rgba(255, 255, 255, 0.158);
   

  }
  
.header {
    display: flex;
    justify-content: center;
    margin-right: 5%;

}
.header_link {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration: none;
}
.line {
    width: 100%;
    background-color: green;
    height: 20px;
    left: 0px;
    top: 100px;
    opacity: 0.5;
    border: 1px solid #A1A1A1;

}
/* .header_link:hover {
    text-decoration: underline;
    transition: 1s;
    letter-spacing: 5px;
} */

/* .burger {
    display: none;
} */



@media(max-width:970px) {
      .firstscreen {
          max-width: 768px;
      }
      .header {
        max-width: 100%;
      }
  }
@media(max-width:750px) {
    .firstscreen {
        max-width: 375px;
    }
    .header {
        max-width: 100%;
      }
}

@media(max-width:376px) {
    .firstscreen {
        max-width: 375px;
    }
    .header {
        max-width: 100%;
        display: none;
        
    }
    .headline {
        margin-top: 100px;
        
    }
    #baner {
        height: 815px;
    }
}