#footer_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 413px;
    background: #F6F6F8;
}

.listbox {
    display: flex;
    justify-content: space-between;

}
.list {
    display: flex;
    flex-direction: column;
    margin: 70px 15px 0 15px;
 
}
.list_name {
    margin: 0 0 15px 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.list_link {
    margin: 20px 0 10px 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}
.last_word {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

@media(max-width:970px) {
    #footer {
        max-width: 768px;
    }
    #footer_container {
        max-width: 768px;
    }
    
}
@media(max-width:750px) {
  #footer {
      max-width: 375px;
  }
  #footer_container {
    max-width: 375px;
    
}
}
@media(max-width:375px) {
    #footer {
        max-width: 375px;

    }
    #footer_container {
      max-width: 375px;
      max-height: 200px;
  }
  

  .list {
      margin: 10px 15px 0 15px;
      
      
  }
  .contacts {
      display: none;
} 

.list_link {
    margin: 10px 0 5px 0;
}
.list_name {
    margin: 0 0 5px 0;
}
}