#headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 300px;
    color: white;
    max-width: 1920px;
    margin: 0px auto;
}

.text {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}
.headline {
    margin: 0px;
}
.open_projects {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    padding: 0px;
    width: 200px;
    height: 45px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}
.open_projects:hover {
    background-color: white;
    color: black;
}
#cont_head {
    display: flex;
    justify-content: center;
    
}

@media(max-width:1024px) {
    #headline {
        left: 283px;

    }
    
}
@media(max-width:778px) {
  #headline {
    left: 155px;
  }
  
}

@media(max-width:375px) {
    #headline {
      top: 50px;
      left: 0px;
  }
  
}